//colors
$white: #fff;
$color_chestnut_rose_approx: #d9534f;
$color_valencia_approx: #d43f3a;
$color_fern_approx: #5cb85c;
$color_apple_approx: #4cae4c;
$color_steel_blue_approx: #337ab7;
$color_astral_approx: #2e6da4;

/** Buttons **/
.btn-close {
  color: $white;
  background-color: $color_chestnut_rose_approx;
  border-color: $color_valencia_approx;
}
.btn-open {
  color: $white;
  background-color: $color_fern_approx;
  border-color: $color_apple_approx;
}
.btn-comment {
  color: $white;
  background-color: $color_steel_blue_approx;
  border-color: $color_astral_approx;
}
